#safety copies
**~

#"compiled" python
**.pyo
**.pyc

#custom pattern to make ignored files without addig new rule
**IGNORE*.*

#the Ninja project file
**.nja

#The Flake8 config file
**tox.ini

#empty folders
screenshots/*
assets/sprites/player/*
